---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import { blogPostRobots, getStaticPathsBlogPost } from '~/utils/blog';
import { getCanonical, getPermalink } from '~/utils/permalinks';

import Layout from '~/layouts/PageLayout.astro';
import BlogSinglePost from '~/components/blog/SinglePost.astro';
import ToBlogLink from '~/components/blog/ToBlogLink.astro';

export const prerender = true;

export const getStaticPaths = (async () => {
  return await getStaticPathsBlogPost();
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props as Props;

const url = getCanonical(getPermalink(post.permalink, 'post'));
const metadata = {
  title: post.title,
  description: post.excerpt,
  robots: {
    index: blogPostRobots?.index && post.draft !== true,
    follow: blogPostRobots?.follow,
  },
  openGraph: {
    type: 'article',
    ...(post.image ? { images: [{ url: post.image, width: 1200, height: 628 }] } : {}),
  },
  twitter: {
    cardType: post.image ? 'summary_large_image' : 'summary',
  },
};
---

<Layout metadata={metadata}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <BlogSinglePost post={{ ...post, Content: post.Content }} url={url} />
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <ToBlogLink />
    </div>
  </section>
</Layout>
